@page "/notify-poster"
@inject IHttpClientFactory httpFactory
@inject NavigationManager navSvc
@* @inject ProtectedLocalStorage localStore *@
@inject LineNotifyRepoService notifyRepo

<PageTitle>LINE Notify 訊息發送</PageTitle>

<h1>LINE Notify 訊息發送</h1>
<h6>發送對象 Line Notify Setting</h6>
<pre>
  @JsonSerializer.Serialize(notifySetting, jsonOptions)
</pre>

<EditForm Model=formData OnValidSubmit=HandleSubmit>
  <DataAnnotationsValidator />
  <ValidationSummary />

  <div class="mb-2">
    <label class="form-label">Message</label>
    <InputTextArea @bind-Value=formData.Message class="form-control" rows="3" />
  </div>

  <div class="mb-2">
    <label class="form-label">Sticker Package ID</label>
    <InputNumber @bind-Value=formData.StickerPackageId class="form-control" />
  </div>

  <div class="mb-2">
    <label class="form-label">Sticker ID</label>
    <InputNumber @bind-Value=formData.StickerId class="form-control" />
  </div>

  <button class="btn btn-primary" type="submit">送出 LINE Notify</button>
</EditForm>

<div class="d-flex gap-2 my-3">
  <button class="btn btn-secondary" @onclick=HandleStatus >檢查 AccessToken 狀態</button>
  <button class="btn btn-secondary" @onclick=HandleRevoke>廢止 AccessToken</button>
</div>

@if (f_loading)
{
  <div class="progress my-3">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 100%"></div>
  </div>
}

@if (errMsg != null)
{
  <div class="alert alert-danger my-3" role="alert">
    @errMsg
  </div>
}

@if (message != null)
{
  <div class="alert alert-info my-3" role="alert">
    @message
  </div>
}

@code {
  //## Resource
  System.Text.Json.JsonSerializerOptions jsonOptions = new System.Text.Json.JsonSerializerOptions
    {
      WriteIndented = true,
      Encoder = System.Text.Encodings.Web.JavaScriptEncoder.UnsafeRelaxedJsonEscaping
    };

  //## State
  LineNotifyData? notifySetting = null;
  PostModel formData = new();
  string? errMsg = null;
  bool f_loading = false;
  string? message = null;

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      f_loading = true;
      StateHasChanged();

      //var result = await localStore.GetAsync<LineNotifyData>(nameof(LineNotifyData));
      //notifySetting = result.Success ? result.Value! : new LineNotifyData();
      var result = await notifyRepo.GetAsync();
      notifySetting = result ?? new LineNotifyData();
      f_loading = false;
      StateHasChanged();
    }
  }

  async Task HandleSubmit(EditContext ctx)
  {
    // POST https://notify-api.line.me/api/notify?message=我出運了圖圖&stickerPackageId=1&stickerId=2

    try
    {
      errMsg = null;
      message = null;
      f_loading = true;

      using var _http = httpFactory.CreateClient();
      _http.DefaultRequestHeaders.Add("Authorization", $"Bearer {notifySetting!.AccessToken}");
      _http.BaseAddress = new Uri($"https://notify-api.line.me");

      //# 組織 notify uri.
      var notifyUri = new UriBuilder(_http.BaseAddress);
      notifyUri.Path = "api/notify";

      // uri-query
      List<string> queryItems = new List<string>();
      queryItems.Add($"message={formData.Message}");

      if (formData.StickerPackageId > 0)
        queryItems.Add($"stickerPackageId={formData.StickerPackageId}");

      if (formData.StickerId > 0)
        queryItems.Add($"stickerId={formData.StickerId}");

      notifyUri.Query = String.Join("&", queryItems);

      using var resp = await _http.PostAsync(notifyUri.Uri, new StringContent(string.Empty));

      var json = await resp.Content.ReadAsStringAsync();
      var result = JsonSerializer.Deserialize<LineNotifyResponse>(json);

      if (result!.status != 200)
        errMsg = $"發送 LINE Notify 失敗！{JsonSerializer.Serialize(result, jsonOptions)}";
    }
    catch (Exception ex)
    {
      errMsg = "發送 LINE Notify 出現例外！" + ex.Message;
    }
    finally
    {
      f_loading = false;
    }
  }

  async Task HandleStatus()
  {
    try
    {
      errMsg = null;
      message = null;
      f_loading = true;

      using var _http = httpFactory.CreateClient();
      _http.DefaultRequestHeaders.Add("Authorization", $"Bearer {notifySetting!.AccessToken}");
      _http.BaseAddress = new Uri($"https://notify-api.line.me");

      using var resp = await _http.GetAsync("api/status");
      var result = await resp.Content.ReadFromJsonAsync<LineNotifyStatusResponse>();

      message = $"AccessToken 狀態：{JsonSerializer.Serialize(result, jsonOptions)}";
    }
    catch (Exception ex)
    {
      errMsg = "出現例外！" + ex.Message;
    }
    finally
    {
      f_loading = false;
    }
  }

  async Task HandleRevoke()
  {
    try
    {
      errMsg = null;
      message = null;
      f_loading = true;

      using var _http = httpFactory.CreateClient();
      _http.DefaultRequestHeaders.Add("Authorization", $"Bearer {notifySetting!.AccessToken}");
      _http.BaseAddress = new Uri($"https://notify-api.line.me");

      using var resp = await _http.PostAsync("api/revoke", new StringContent(string.Empty));
      var result = await resp.Content.ReadFromJsonAsync<LineNotifyResponse>();

      message = $"AccessToken 廢止：{JsonSerializer.Serialize(result, jsonOptions)}";
    }
    catch (Exception ex)
    {
      errMsg = "出現例外！" + ex.Message;
    }
    finally
    {
      f_loading = false;
    }
  }


  public class PostModel
  {
    public string Message { get; set; } = "今天天氣真好。";
    public int StickerPackageId { get; set; } = 1;
    public int StickerId { get; set; } = 4;
  }
}